extends ../theme/layout
block content
  script(type='text/javascript' src='http://simplewebrtc.com/latest.js')
  .row
    h2 App
    .row
      .col-md-10
        .row
          h2 Ferramentas
        .row
          h2 Aplicacao
          video(id='localVideo')
          div(id='remoteVideos')
      .col-md-2
        h2 Features
        ul
          li Feature 1
          li Feature 2
          li Feature 3
          li Feature 4
    .row
      .col-md-12
        h2 Slider 
          
  script(type='text/javascript')
    var webrtc = new SimpleWebRTC({
      // the id/element dom element that will hold "our" video
      localVideoEl: 'localVideo',
      // the id/element dom element that will hold remote videos
      remoteVideosEl: 'remotesVideos',
      // immediately ask for camera access
      autoRequestMedia: true
    });
      // we have to wait until it's ready
    webrtc.on('readyToCall', function () {
        // you can name it anything
        webrtc.joinRoom('room');
    });