extends ../theme/layout_panel
block content
  script(type='text/javascript' src='http://simplewebrtc.com/latest.js')
  .row
    .col-md-12
      .well
        #myCarousel.carousel.slide
          .carousel-inner
            .item.active
              .row
                - for (var x = 0; x < 4; x++)
                  .col-sm-3
                    a(href='#x')
                      img(src='http://placehold.it/90x90', alt='Image', class='img-responsive')
            .item
              .row
                - for (var x = 0; x < 4; x++)
                  .col-sm-3
                    a(href='#x', class='thumbnail')
                      img(src='http://placehold.it/90x90', alt='Image', class='img-responsive')
            a(href='#myCarousel', data-slide='prev').left.carousel-control
            a(href='#myCarousel', data-slide='next').right.carousel-control
  .row
    .col-md-10
      h2 Aplicação
      form#createRoom
        input#sessionInput
        button(type='submit') Criar Sala!
        p#subTitle
      video(id='localVideo', width='250')
      div(id='remotes')
    .col-md-2
      h2 Features
      ul
        li
          a(href='/presentation') Apresentação
        li
          a(href='/camera/') Câmera
        li
          a(href='/chat') Chat
        li
          a(href='/draw') Desenho
  .row
    .col-md-12
      .well
        #myCarousel.carousel.slide
          .carousel-inner
            .item.active
              .row
                - for (var x = 0; x < 4; x++)
                  .col-sm-3
                    a(href='#x')
                      img(src='http://placehold.it/150x200', alt='Image', class='img-responsive')
            .item
              .row
                - for (var x = 0; x < 4; x++)
                  .col-sm-3
                    a(href='#x', class='thumbnail')
                      img(src='http://placehold.it/150x200', alt='Image', class='img-responsive')
            a(href='#myCarousel', data-slide='prev').left.carousel-control
            a(href='#myCarousel', data-slide='next').right.carousel-control
  script(type='text/javascript')
    // grab the room from the URL
    var room = location.search && location.search.split('?')[1];

    // create our webrtc connection
    var webrtc = new SimpleWebRTC({
        // the id/element dom element that will hold "our" video
        localVideoEl: 'localVideo',
        // the id/element dom element that will hold remote videos
        remoteVideosEl: 'remotes',
        // immediately ask for camera access
        autoRequestMedia: true,
        debug: true,
        detectSpeakingEvents: true,
        autoAdjustMic: false
    });

    // when it's ready, join if we got a room from the URL
    webrtc.on('readyToCall', function () {
        // you can name it anything
        if (room) webrtc.joinRoom(room);
    });
    
    // Since we use this twice we put it here
    function setRoom(name) {
        $('form').remove();
        $('h1').text(name);
        $('#subTitle').text('Link: ' + location.href);
        $('body').addClass('active');
    }
    console.log(room);
    if (room) {
        setRoom(room);
    } else {
        $('form').submit(function () {
            var val = $('#sessionInput').val().toLowerCase().replace(/\s/g, '-').replace(/[^A-Za-z0-9_\-]/g, '');
            webrtc.createRoom(val, function (err, name) {
                console.log(' create room cb', arguments);
            
                var newUrl = location.pathname + name;
                if (!err) {
                    history.replaceState({foo: 'bar'}, null, newUrl);
                    setRoom(name);
                } else {
                    console.log(err);
                }
            });
            return false;         
        });
    }

    var button = $('#screenShareButton'),
        setButton = function (bool) {
            button.text(bool ? 'video call' : 'stop call');
        };

    setButton(true);

    button.click(function () {
        if (webrtc.getLocalScreen()) {
            webrtc.stopScreenShare();
            setButton(true);
        } else {
            webrtc.shareScreen(function (err) {
                if (err) {
                    setButton(true);
                } else {
                    setButton(false);
                }
            });
            
        }
    });
