extends ../theme/layout_panel
block content
  script(src="/js/socket.io.js")
  .row
    .col-md-12
      .well
        #myCarousel.carousel.slide
          .carousel-inner
            .item.active
              .row
                - for (var x = 0; x < 4; x++)
                  .col-sm-3
                    a(href='#x')
                      img(src='http://placehold.it/90x90', alt='Image', class='img-responsive')
            .item
              .row
                - for (var x = 0; x < 4; x++)
                  .col-sm-3
                    a(href='#x', class='thumbnail')
                      img(src='http://placehold.it/90x90', alt='Image', class='img-responsive')
            a(href='#myCarousel', data-slide='prev').left.carousel-control
            a(href='#myCarousel', data-slide='next').right.carousel-control
  .row
    .col-md-10
      h2 Aplicação
      h4 Usuários
      .col-md-2
        div(id="users")
      .col-md-4
        div(id="conversation")
          input(id="data")
          input(type="button" id="datasend" value="send")
    .col-md-2
      h2 Features
      ul
        li
          a(href='/presentation') Apresentação
        li
          a(href='/camera') Câmera
        li
          a(href='/chat') Chat
        li
          a(href='/draw') Desenho
  .row
    .col-md-12
      .well
        #myCarousel.carousel.slide
          .carousel-inner
            .item.active
              .row
                - for (var x = 0; x < 4; x++)
                  .col-sm-3
                    a(href='#x')
                      img(src='http://placehold.it/150x200', alt='Image', class='img-responsive')
            .item
              .row
                - for (var x = 0; x < 4; x++)
                  .col-sm-3
                    a(href='#x', class='thumbnail')
                      img(src='http://placehold.it/150x200', alt='Image', class='img-responsive')
            a(href='#myCarousel', data-slide='prev').left.carousel-control
            a(href='#myCarousel', data-slide='next').right.carousel-control
  script    
    var socket = io.connect('http://localhost:8015');
    // on connection to server, ask for user's name with an anonymous callback
    socket.on('connect', function(){
      // call the server-side function 'adduser' and send one parameter (value of prompt)
      socket.emit('adduser', prompt("Qual o seu nome?"));
    });

    // listener, whenever the server emits 'updatechat', this updates the chat body
    socket.on('updatechat', function (username, data) {
      $('#conversation').append('<b>'+username + ':</b> ' + data + '<br>');
    });

    // listener, whenever the server emits 'updateusers', this updates the username list
    socket.on('updateusers', function(data) {
      $('#users').empty();
      $.each(data, function(key, value) {
        $('#users').append('<div>' + key + '</div>');
      });
    });

    // on load of page
    $(function(){
      // when the client clicks SEND
      $('#datasend').click( function() {
        var message = $('#data').val();
        $('#data').val('');
        // tell server to execute 'sendchat' and send along one parameter
        socket.emit('sendchat', message);
      });

      // when the client hits ENTER on their keyboard
      $('#data').keypress(function(e) {
        if(e.which == 13) {
          $(this).blur();
          $('#datasend').focus().click();
        }
      });
    });