extends ../theme/layout_panel
block content
  .row
    .col-md-12
      //include inttop
  .row
    .col-md-10
      include intmain
    .col-md-2
      include intsecond
  .row
    .col-md-12
      //include intusers