extends ../theme/layout_panel
block content
  .content(ng-controller='IntPublicController')
    .row
      .col-md-12.table-bordered
        include inttop
    .row
      .col-md-12.table-bordered.animate-switch-container('ng-switch on'="selection")
        include intmain
    .row
      .col-md-12.table-bordered
        include intusers

