h2 Epilogue
ul.nav.nav-pills
  li.active
    a(href='/') Code
  li
    a(href='/') Text
  li
    a(href='/') Projects
  li
    a(href='/') Whiteboard
  li
    a(href='/') Call
  li
    a(href='/') Draw
  li
    a(href='/') Chat
  li
    a(href='/') Screen
  li
    a(href='/') Research
  li
    a(href='/') Calc
  li
    a(href='/') Slides
  li
    a(href='/') Debug
    