h2 Stack | Heap
ul.nav.nav-pills
  li
    button.btn.btn-success Epilogue(ret)
    | 
    select(ng-model="selection", ng-options="item for item in items")
    | 
    button.btn.btn-default %EIP
  li
    button.btn.btn-warning %EBP
  li.active
    a(href='#') Hacking %ESP
  li
    a(href='#') Family
  li
    a(href='#') Assembly/C/Javascript
  li
    a(href='#') Protocols
  li
    a(href='#') Network
  li
    a(href='#') Sex
  li
    button.btn.btn-info Prologue(main) -> {{selection}}