h2 Stack | Heap
ul.nav.nav-pills
  li
    button.btn.btn-warning %EBP
  li.active
    a(href='/') Hacking %ESP
  li
    a(href='/') Assembly
  li
    a(href='/') C
  li
    a(href='/') Protocols
  li
    a(href='/') Architecture
  li
    a(href='/') Network
  li
    a(href='/') Sex
  li
    a(href='/') Family
  li
    a(href='/') Kids
  li
    a.btn-danger(href='http://www.ita.br/' target="_blank") INT 0x3F