h2 Stack | Heap
ul.nav.nav-pills
  li.active
    a(href='/') Hacking
  li
    a(href='/') Assembly
  li
    a(href='/') C
  li
    a(href='/') Protocols
  li
    a(href='/') Architecture
  li
    a(href='/') Network
  li
    a(href='/') Sex
  li
    a(href='/') Family
  li
    a(href='/') Kids
  li
    a(href='/') Friends