extends ../theme/layout_panel
block content
	.row
		.col-md-12
			.well
				#myCarousel.carousel.slide
					.carousel-inner
						.item.active
							.row
								- for (var x = 0; x < 4; x++)
									.col-sm-3
										a(href='#x')
											img(src='http://placehold.it/90x90', alt='Image', class='img-responsive')
						.item
							.row
								- for (var x = 0; x < 4; x++)
									.col-sm-3
										a(href='#x', class='thumbnail')
											img(src='http://placehold.it/90x90', alt='Image', class='img-responsive')
						a(href='#myCarousel', data-slide='prev').left.carousel-control
						a(href='#myCarousel', data-slide='next').right.carousel-control
	.row
		.col-md-10
			h2 Aplicação
			iframe(src='/image/indiobr.html', width='800', height='600')
		.col-md-2
			h2 Features
			ul
				li
					a(href='/presentation') Apresentação
				li
					a(href='/camera') Câmera
				li
					a(href='/chat') Chat
				li
					a(href='/draw') Desenho
	.row
		.col-md-12
			.well
				#myCarousel.carousel.slide
					.carousel-inner
						.item.active
							.row
								- for (var x = 0; x < 4; x++)
									.col-sm-3
										a(href='#x')
											img(src='http://placehold.it/150x200', alt='Image', class='img-responsive')
						.item
							.row
								- for (var x = 0; x < 4; x++)
									.col-sm-3
										a(href='#x', class='thumbnail')
											img(src='http://placehold.it/150x200', alt='Image', class='img-responsive')
						a(href='#myCarousel', data-slide='prev').left.carousel-control
						a(href='#myCarousel', data-slide='next').right.carousel-control