<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>ITA CODE JAM</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <style type="text/css">
html{
  height: 100%;
}

    body {
        height: 100%;
        background-image:url('/stylesheets/education.jpg'); 
        background-repeat:no-repeat;
        background-size: cover;
    }
    .jumbotron {
        color: #fff;
    }


    #header {
      display:none;
      padding-top: 2% !important;
      text-align: center !important;
      background: rgba(255,255,255,0.2);
      box-shadow: 0 0 14px rgba(0, 0, 0, 0.4);
      padding-bottom: 2% !important;
      border-radius: 8px;
      margin-top:10%;
      transition: -webkit-filter, height, margin-top 0.3s;
      -webkit-transition: -webkit-filter, height, margin-top 0.3s;
      /*-webkit-filter: blur(2px);*/
      color:#fff;
    }

    #query {
    border-radius: 0px !important;
    border-color: rgba(168,168,204,0.8) !important;
    transition: box-shadow 0.5s;
    -webkit-transition:box-shadow 0.5s;
    }

    #query:focus{
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 10px rgb(180, 190, 190) !important;
         -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 10px rgb(180, 190, 190) !important;
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0px 0px 10px rgb(180, 190, 190) !important;
    }

    .assuntos_footer{
      color:rgba(255,255,255,0.5);
    }

    #div_assuntos_footer {
      margin-top: 20px;
      padding-left: 100px;
      padding-right: 100px;
    }

    </style>  
</head>
<body>
<!-- FACEBOOK -->
<div id="inset_form">
</div>

<script>
  // Additional JS functions here 
  $(function(){
    $('#header').fadeIn(400);

    var pesquisa_enabled = -1;

    $('#btn_query').click(function(){
      pesquisa_enabled *= -1;
      $('#header').css("height","100%").css("margin-top","0");
      $('#p_welcome').slideUp().fadeOut();
      $('#div_assuntos_footer').slideUp().fadeOut();
    });

    function saiModoPesquisa(){
      pesquisa_enabled *= -1;
      $('#header').css("height","").css("margin-top","10%");
      $('#p_welcome').slideDown().fadeIn();
      $('#div_assuntos_footer').slideDown().fadeIn();
    }

    $(document).keyup(function(e) {
        if(pesquisa_enabled == 1){
            if (e.keyCode == 27){
                saiModoPesquisa(); 
            }
        }
    });



  });


  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1374314329473956', // App ID
      channelUrl : 'http://ciro-s-costa.appspot.com/codejam', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    var uid; 

    FB.api('/me', function(response){
        uid = response.id;
    });

    FB.Event.subscribe('edge.create',function(href,widget){
        $.ajax({
            type:"POST",
            url:"/codejam/insert",
            data:{
                'user_id':uid,
                'action':'like',
            },
        }) 
    });

    FB.Event.subscribe('edge.remove',function(response){

    });

  FB.Event.subscribe('auth.authResponseChange', function(response) {
    // Here we specify what we do with the response anytime this event occurs. 
    if (response.status === 'connected') {
      testAPI();
      var uid = response.authResponse.userID;
      $('#inset_form').html(
              '<form style="display:none" id="submete_form"' +
              'id="submit_to_conversa" action="/codejam/profile"' +
              'method="post"><input type="text"' +
              'name="uid" value="' + uid +'"></form>'
          )
      $('#submete_form').submit();
//*********************************************
      var query = 'SELECT uid, name, age_range,current_address,sex ' +
                    'FROM user WHERE uid=' + uid

      console.log(query);
      FB.api({
        method: 'fql.query',
        query: query,
      }, function(data){
        console.log(data[0]);
        //coloca na DB as coisas obtidas no query para o que logou
        $.ajax({
            type:"POST",
            url:"/codejam/check",
            data:data[0]
        }).done(function(msg){
            //recebe a msg
        });
    });

    FB.api('/me/friends',function(response){
        console.log(response['data']);
        $.ajax({
            type:"POST",
            url:"/codejam/check",
            data:response['data']
        }).done(function(msg){
            //recebe a msg
        });
    });


  //                       FB.api({
  //                           method: 'fql.query',
  //                           query: query,
  //                           access: response.authResponse.accessToken,
  //                       },
  //                       function(data){
  //                           // console.log(data);
  //                           // for(var i=0; i<data.length; i++){
  //                           //     console.log(data[i]);
  //                           // }
  //                           sendInfo('/codejam/check',data);
  //                       });

    } else if (response.status === 'not_authorized') {
      FB.login();
    } else {
      FB.login();
    }
  });
 };

  // Load the SDK asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));


 function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
        console.log('Good to see you, ' + response.name + '.');
        $('#p_welcome').text('Seja bem vindo ' + response.name );
    });
  }



// FUNCTION TO SET BEM VINDO
function setBemVindo(){
    FB.api('/me',function(response){
        $('#p_welcome').text('Seja bem vindo ' + response.name );
    });
}

$(function(){
    $('#botao_compartilha_timeline').click(function(){
        FB.login(function(response){
            //
        },{scope:'read_stream'});
    });
});

</script>

<!-- CONTENT -->
<!-- 
    <div class="jumbotron">
        <div class="container">
            <h1>ITA CODE JAM</h1>
        </div>
    </div> 
 -->
  <div id="header">
    <h1>indiobr ITA CODE JAM</h1>
    <p id="p_welcome" class="lead">Faça login e ajude esta causa!</p>
    <p>
      <input type="text" name="busca" id="query"><button id="btn_query"> Go!</button>
    </p>
    <fb:login-button id="" show-faces="false" width="200" 
    max-rows="1"></fb:login-button>


<!-- 
<div class="fb-like" data-href="https://www.facebook.com/indiobrita" data-width="200" data-height="200" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="false" data-send="true"></div>   -->          <!-- <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fparse.com" target="_blank">
  Share on Facebook
            </a> -->
 <!--            <p><a class="btn btn-info" id="botao_compartilha_timeline" href="">Compartilhar TimeLine</a> <span class="label label-default">+10 pts</span></p>
            <p><a class="btn btn-info" href="#" 
              onclick="
                window.open(
                  'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
                  'facebook-share-dialog', 
                  'width=626,height=436'); 
                return false;">
              Compartilhar Página
            </a> <span class="label label-default">+5 pts</span></p> -->
    </div>

    <div class="row" id="div_assuntos_footer">
      <div class="col-md-4">
        <a class="assuntos_footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</a>
      </div>
      <div class="col-md-4">
        <a class="assuntos_footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</a>
      </div>
      <div class="col-md-4">
        <a class="assuntos_footer">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</a>
      </div>
    </div>

    <div id="fb-root"></div>
</div>
</body>
</html>