<!doctype html>
<html>
<head>
	<meta charset="utf-8"
	<title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <style type="text/css">
    .conversa_encontrada{
        padding: 10px;
        margin-bottom: 10px;
        color: #808080;
        margin-left: 10%;
        margin-right: 10%;
        transition: background 0.5s;
        -webkit-transition: background 0.5s;
        background: #F8F8F8;
        box-shadow: 2px 2px 1px rgb(220,220,220);
    }

    .conversa_encontrada:hover {
        background: #F0F0F0;
        cursor:pointer;
    }
    </style>
</head>
<body>

    <div  id="div_busca">
    <div class="page-header">
          <h1>Encontrado</h1>
      </div>
      <p class="lead">assunto encontrado pela busca </p>

        <ul class="media-list">
          <li class="media">
            <div class="media-body conversa_encontrada">
              <h4 class="media-heading">Assunto principal</h4>
              Pequeno texto sobre o assunto o qual é tratado aqui.
            </div>
          </li>
        </ul>
    </div>


</body>
</html>