head
	meta(http-equiv='content-type', content='text/html; charset=UTF-8')
	title GrãoJS - MVC NodeJS Framework
	link(rel='canonical', href='http://graojs.org/')
	meta(property='og:url', content='http://graojs.org/')
	meta(name='sitedomain', content='graojs.org/')
	meta(name='primaryproduct', content='Framework')
	meta(name='ctype', content='home page')
	meta(name='Cache-Control', content='no-cache')
	meta(name='expires', content='Wed, 26 Feb 1997 08:21:57 GMT')
	meta(name='subsection', content='graojs.org Home')
	meta(name='displayname', content='graojs.org')
	meta(name='pagename', content='graojs.org')
	meta(name='keywords', content='')
	meta(name='csource', content='graojs.org')
	meta(name='section', content='Home')
	meta(name='description', content='graojs.org')
	meta(content='name=Homepage;action-uri=http://graojs.org;icon-uri=/img/graojs.ico', name='msapplication-task')
	meta(content='name=Developers;action-uri=http://graojs.org/developers;icon-uri=/img/graojs.ico', name='msapplication-task')
	meta(content='name=Projects;action-uri=http://graojs.org/projects;icon-uri=/img/graojs.ico', name='msapplication-task')
	meta(content='name=Issues;action-uri=http://graojs.org/issues;icon-uri=/img/graojs.ico', name='msapplication-task')
	meta(content='name=News;action-uri=http://graojs.org/news;icon-uri=/img/graojs.ico', name='msapplication-task')
	link(rel='shortcut icon', href='/img/graojs.ico')
	link(rel='alternate', type='application/rss+xml', title='graojs.org - FOSS + Crowdfunding', href='http://graojs.org/feeds')
	include css