script(src='/js/angularjs/angular.min.js', type='text/javascript').
script(src='/js/angularjs/angular-resource.min.js', type='text/javascript').
script(src='/js/bootstrap/ui-bootstrap.min.js', type='text/javascript').
// script(src='/js/angularjs/ng-grid.min.js', type='text/javascript').
script(src='/js/config.js', type='text/javascript', charset='utf-8').
script(src='/js/factory.js', type='text/javascript', charset='utf-8').
script(src='/js/TopbarPublicController.js', type='text/javascript', charset='utf-8').
script(src='/js/user/UserPublicController.js', type='text/javascript', charset='utf-8').