!!! transitional
include app
	include head
	body
		include topbar
		.container.container_top
			block content
		include foot
		script(src='/js/jquery-1.8.2.min.js', type='text/javascript')
		script(src='/js/jquery-ui-1.9.2.min.js', type='text/javascript')
		script(src='/js/carousel.js', type='tex/javascript')
		script(src='/js/dragdrop.js', type='text/javascript')