.table-responsive
	table.table.table-striped(data-ng-init="query()")
		thead
			tr
				th Username
				th Email
				th Actions
		tbody
			tr(ng-repeat="item in items") 
				td
					button.btn.btn.btn-primary(type='button', ng-click='select($index)') {{item.username}}
				td {{item.email}}
				td
					// button.btn.btn.btn-success(type='button', ng-click='') * 
					button.btn.btn.btn-danger(type='button', ng-click='destroy($index)') X