input.form-control(type='password', ng-model='user.password', placeholder= __('A sua senha'))
h6= __('Por favor, utilize uma senha forte com pelo menos um caractere minusculo, um maiusculo, um número e no mínimo sete caracteres.')